.tabs-wrap{
    display: flex;
    width: 100%;
    margin: auto;
}
 .tabs {
    display: flex;
    list-style: none;
    flex-direction: ;
    padding: 0;
    width: 30%;
    position: fixed;
    bottom: 0;
}
.tabs-content{
    width: 70%;
}
.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: #eee;
    cursor: pointer;
    height: 43px;
}

.tab.active,{
    background-color: #007bff;
    color: #fff;
}

.tab-content {
    display: none;
    padding: 0px 20px;
}

.tab-content.active {
    display: block;
}
.wrap{
    width: 100%;
}
.footer-area-bottom{
    margin-bottom: 43px;
}

.footer-top{
    padding-top: 0;
    margin-bottom: 42px;
}

.event_change{
    padding: 30px;
    background-color: #007bff;
    color: #fff;

}
@media(max-width:745px) {
    .tabs {
    width: 100%;
    }
    .tabs-content{
        width: 100%;
    }
    .tabs-wrap{
        flex-direction: column;
    }
    
    .tab-content {
        padding: 0;
    }
}
