/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.571;
    color: #484848;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    max-width: 100%;
    height: auto;
}

*, *::before, *::after{
    box-sizing: border-box;
}

.fa-sort-down{
    position: relative;
    top: -5px;
    margin-left: 5px;
}
.container-fluid{
    width: 100vw;
    position: relative;
}

.swiper-button-next, .swiper-button-prev{
    color: white !important;
}
.swiper-test .swiper-slide{
    width: 33.33%;
}
/*------------------------以上為CSS reset-------------------------*/
@font-face {
    font-family: 'bornready';
    src: url('https://static1.squarespace.com/static/63071dfeb81deb5ffdb0a2b2/t/630c35b673c9a669db32b26b/1661744570391/Born-ready-slanted.ttf')
}

@font-face {
    font-family: 'lexend';
    src: url('https://static1.squarespace.com/static/63071dfeb81deb5ffdb0a2b2/t/630c35c780fdd80dc7d5c9e6/1661744583372/Lexend-Regular.ttf')
}

.f-born{
    font-family: 'bornready';
    font-weight: 300;
    color: #E5C45D;
}
/*------------------------以上為字體-------------------------*/


h1{
    font-size: 46px;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 1px;
    color: #3E3A39;
}

p{
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: 1px;
    color: #656565;
}
.so{
    font-family: 'lexend';
    color: #E5C45D;
    font-weight: bolder;
    font-size: 40px;
}

.container{
    max-width: 100%;
    margin: 0 auto;
    font-weight: 500;
    overflow-x: hidden;
    overflow-y: hidden;
}

.wrap{
    max-width: 1200px;
    margin: 0 auto;
}

.born-font{
    font-family: 'bornready';
}
.right-announce{
    color: rgb(255, 255, 255);
    font-size: 13px;
    padding: 3px;
    font-family: 'lexend';
}
.swiper-button-next, .swiper-button-prev{
    color: white;
}
@media(max-width:745px) {
    h1{
        line-height: 1;
        font-size: 32px;
        line-height: 1.2em;
    }

    h1 span{
        margin-bottom: 5px;
        display: inline-block;
        font-size: 22px;
        margin-top: -33px;
    }
    p{
        font-size: 15px;
        line-height: 1.8;
        color: #2d2c2c;
    }
    .right-announce{
        font-size: 11px;
        margin-top: -3px;
    }
}
/*-------------swiper---------------*/
.news-swiper{
    width: 75%;
    margin: 50px auto;
}

.news-swiper .f-born,.gallery-swiper .f-born{
    font-size: 32px;
    position: relative;
    top: -15px;
}
.news-swiper .swiper-wrapper .swiper-textbox a{
    text-decoration: none;
    color: #E5C45D;
}
.news-swiper .swiper-wrapper .title{
    font-size: 22px;
    font-weight: 600;
    position: relative;
}
.news-swiper .swiper-wrapper .title:after{
    content: "";
    height: 52px;
    width: 6px;
    position: absolute;
    left: -14px;
    background-color: #E5C45D;
    z-index: 999;
}
.news-swiper .swiper-wrapper .title span{
    font-size: 18px;
}
.news-swiper .swiper-wrapper .subtitle{
    height: 50px;
    color: #a6a6a6;
    position: relative;
    top: -5px;
}
.gallery-swiper{
    width: 75%;
    margin: auto;
}
.gallery-swiper h1{
    padding-left: 38px;
}

@media(max-width:745px) {
    .news-swiper .f-born,.gallery-swiper .f-born{
        font-size: 24px;
        top: 0;
    }
    .news-swiper{
        padding: 10px 38px 62px !important;
        width: 100%;
    }

    .news-swiper .swiper-wrapper .swiper-textbox
    {
        padding: 5px 20px;
    }
   
    .news-swiper .swiper-wrapper .text{}

    .news-swiper h1 span{
        font-size: 22px;
    }
}

/*--------------------以下為aside------------------------*/
.ph-menu-btn{
    display: none;
}
.aside{
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
    transform: translateX(-100%);
    transition-duration: .5s;
    display: none;
    overscroll-behavior: none;
    overflow-y: scroll;
    height: 100dvh;
    opacity: 0;
}

.aside.aside-active{
    opacity: 1;
    transform:translateX(0);
    margin-right:-23.5px;
}

.b-open {
    &:nth-of-type(1){
      transform:rotate(-45deg);
      transform-origin: right top;
    }
    &:nth-of-type(2){
      opacity:0;
    }
    &:nth-of-type(3){
      transform:rotate(45deg);
      transform-origin:right bottom;
    }
  }

.aside-btn{
    display: none;
    float:right;
    position:relative;
    top:5px;
    cursor:pointer;
    transition:all 0.5s ease;
    right:0;
}
.bar {
    display:block;
    height:4px;
    width:31px;
    background-color:#111;
    margin-top: 6.5px;
    border-radius: 4px;
    transition:all 0.5s ease;
    &:nth-of-type(1) {
      margin-top:0;
    }
  }

.aside ul{
    margin-top: 95px;
}
.aside ul:nth-child(1){
    margin-top: 50px;
}


.aside a{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 25px;
    font-size: 20px;
    color: #939393;
    font-weight: bolder;
    transition-duration: .2s;
}

.aside a:hover{
    color: #E5C45D;
}

.menu li .xoffice{
    background-color: #E5C45D;
    color: white;
    border-radius: 30px;
    line-height: 36px;
    margin-top: 10px;
    width: 100%;
}

.menu li .xoffice:hover{
    background-color: #e0b700;
}


.aside-open{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.aside .about-a .down-menu{
    display: none;
}
.aside .about-a .down-menu li{
    background-color: #fff4df;
}


.aside .pd-a .pd-menu{
    display: none;
}
.aside-open .container{
    overflow-y: auto;
}

.menu ul li .fa-sort-down{
    display: none;
}

@media(max-width:745px) {
    .aside{
        display: block;
    }
    .aside ul{
        margin-top: 0;
    }
    .pd-menu li{
        display: inline-block;
        width: 100%;
        background-color: #fff4df;
    }
    .pd-menu li a{
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pd-menu li a h2{
        font-size: 20px;
        margin-top: 45px;
    }


    .pd-menu img{
        max-width: 34%;
    }
    .ph-menu-btn{
        display:inline-block;
    }
    .menu ul li .fa-sort-down{
        display: block;
    }
}

/*------------------------以下為header css-------------------------*/
.header{
    display: flex;
}

.logo{
    width: 10%;
    margin-left: 5%;
}

.menu{
    width: 75%;
}

.menu{
    display: flex;
    justify-content: end;
}

.menu ul{
    display: flex;
    align-items: center;
}

.menu li{
    text-align: center;
    line-height: 44px;
    height: 44px;
}

.menu li a{
    display: block;
    text-decoration: none;
    color: #3E3A39;
    font-weight: 700;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 57px;
}

.menu li a:hover{
    color: #E5C45D;
    font-weight: bold;
}

.menu .down-menu{
    flex-direction: column;
    position: absolute;
    background-color: white;
    width: 150px;
    display: none;
    z-index: 999;
}

.menu .pd-menu{
    position: absolute;
    left: 0px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #fff4df;
    padding: 0px 50px;
    display: none;
    z-index: 1;
}
.menu .pd-menu li{
    width: 20%;
    height: auto;
}

.about-a:hover>.down-menu{
    display: block;
    transition-duration: .5s;
}

.pd-a:hover>.pd-menu{
    display: flex;
}

.pd-menu li h2{
    font-size: 22px;
    position: relative;
    top: -25px;
    color: #6b6b6b;
    font-weight: 500;
    font-family: "bornready";
}

.ph-menu-btn a{
    margin-right: 15px;
}

@media(max-width:745px) {
    .ph-menu-btn{
        display: flex;
        align-items: center;
    }
    .header .menu{
        display: none;
    }

    .logo{
        width: 33%;
    }

    .aside-btn{
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        text-align: center;
        margin-right: 5%;
        z-index: 2;
        padding-top: 6px;
    }
    .header{
        justify-content: space-between;
        align-items: center;
    }
    .pd-a:hover>.pd-menu{
        flex-direction: column;
    }
}

/*------------------------以上為常用CSS-------------------------*/
.index-banner{
    height: 562px;
    background-image: url(../img/首頁banner\ pc.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.index-banner1{
    height: 682px;
    background-image: url(../img/index/首頁banner-pc.png);
    background-size: cover;
    background-position: left;
    position: relative;
}
.index-banner1 h1{
    font-family: 'bornready';
    color: #ffffff;
    font-weight: 600;
}

.banner-1-text .so{
    font-size: 24px;
    color: #ffffff;
    font-weight: 100;
}

.banner-1-text p{
    color: white;
}

.banner-1-text{
    position: absolute;
    left: 15%;
    bottom: 40%;
    width: 50%;
}

.index-banner1 img{
    position: absolute;
    right: 0;
    width: 46%;
    max-width: 520px;
}

.white-part{
    width: 100%;
    background-image: url(../img/index/天雨台灣首頁-08.png);
    background-size: cover;
    position: absolute;
    height: 200px;
    bottom: 0;
    left: 0;
    right: 0;
}

.index-curve{
    position: relative;
    width: 100%;
    height: auto;
}
.index-curve img{
    position: absolute;
    height: 500px;
    width: 100%;
    top: -267px;
    display: none;
}
@media(max-width:1230px){
    .index-banner1{
        height: 682px;
        background-image: url(../img/index/首頁banner-pc.png);
        background-size: cover;
        background-position: left;
        position: relative;
    }
}
@media(max-width:1200px) {
    .index-banner1 h1{
        right: 32%;
    }
    .banner-1-text{
        left: 8%;
        width: 54%;
    }
}
@media(max-width:900px) {
    .index-banner1 h1{
        right: 10%;
    }
}

@media(max-width:745px) {
    .index-banner{
        height: 586px;
        background-image: url(../img/首頁banner\ mobile.jpg);
    }
    .index-banner1 .banner-1-text,.index-curve,.index-banner1 img{
        display: none;
    }
}   



/*---------banner-----------*/

.part{
    padding: 20px 20px;
}

.part1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    position: relative;
}

.part1 .left{
    width: 60%;
    margin-left: 100px;
}

.part1 .right{
    width: 90%;
    text-align: center;
}

.part1 .right img{
    width: 80%;
}


.part h1{
    margin-bottom: 15px;
}

.part h1 span{
    font-size: 32px;
}

.part .btn{
    display: block;
    text-align: center;
    align-items: center;
    width: 100px;
    height: 30px;
    color: #fff;
    background-color: #E5C45D;
    border-radius: 15px;
    margin-top: 25px;
    line-height: 2;
    text-decoration: none;
    font-weight: 600;
}
.index-wrap1 .part1,.index-wrap1 .part2{
    margin-bottom: 100px;
}

@media(max-width:745px) {
    .part1{
        flex-direction: column;
        position: relative;
    }
    .part1 .left{
        width: 85%;
        padding: 20px;
        margin-bottom: 30px;
    }

    .part1 .right{
        width: 105%;
        position: absolute;
        top: 236px;
        z-index: -1;
    }

    .part1 .right img{
        width: 60%;
    }

    .part h1 span{
        font-size: 24px;
    }
}

/*--------------以上為part1-------------------*/
.part2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
}

.part2 .left{
    width: 80%;
    text-align: center;
    position: relative;
}

.part2 .right,.part1 .left{
    width: 85%;
    padding-bottom: 30px;
    margin-left: 0;
}

.part2 .right h2{
    font-size: 32px;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
}

@media(max-width:745px) {
    .part2{
        flex-direction: column-reverse;
        margin-bottom: 0px;
        margin-top: 260px;
    }
    .part2 .right{
        width: 85%;
    }
    .part2 .left{
        width: 85%;
        padding-bottom: 35px;
    }
}

/*---------------------------------*/
.part3{
    margin-top: 150px;
    margin-bottom: 50px;
    padding: 20px;
}

/*
.part3_left{
    display: inline-block;
    width: 50%;
}

.part3_right{
    display: inline-block;
    width: 45%;
}
*/

.part3 h2{
    font-size: 32px;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
}

.part3_text{
    margin-bottom: 25px;
}


.pd-thumb{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 25px;
}
.pd-thumb li{
    display: inline-block;
    margin: 0 15px;
    cursor: pointer;
    transition: 0.5s;
}
.part2 .imgBox{
    width: 100%;
}
.pd-thumb li img{
    max-width: 50px;
}
.pd-thumb li:hover{
    transform: translateY(-15px);
}

.show-Pd{
    width: 80%;
}

@media(max-width:745px) {
    .part3{
        margin-bottom: 0px;
    }

    .part3 ul{
        flex-wrap: wrap;
    }

    .part3 ul li{
        width: 100%;
    }
    .pd-thumb li{
        margin: 0 5px;
    }
    .pd-thumb li img{
        max-width: 50px;
    }
    .show-Pd{
        width: 100%;
    }
}
/*-------------------index wrap1-------------------------*/
.index-wrap .part{
    padding: 0px 0px;
}
.index-wrap .part h1{
    font-size: 37px;
}

.index-wrap .part1,.index-wrap .part2,.index-wrap .part3-team{
    height: 530px;
    padding: 0;
}

.index-wrap .part1 .left{
    width: 50%;
    padding: 35px;
}

.index-wrap .part1 .right{
    width: 50%;
    text-align: center;
}
.index-wrap .part1 .right img{
    width: 100%;
    text-align: center;
}

.index-wrap .part2{
    flex-direction: row-reverse;
}

.index-wrap .part2 .right,.index-wrap .part3-team .left {
    padding: 35px;
}

.part3-team {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

.index-wrap .part3-team .right,.index-wrap .part3-team .left{
    width: 100%;
}

.index-wrap .part3{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.part3 .oil img{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: -100px;
    z-index: -1;
    object-fit: cover;
}

.index-wrap.container-fluid .part3 .part3_text{
    padding-top: 250px;
    padding: 3% 20px 51px 20px;
    width: 50%;
}
.index-wrap.container-fluid .part3 .part3-img{
    width: 50%;
    position: relative;
    top: -20px;
}

.index-wrap .part .index-btn{
    display: flex;
}

.index-wrap .part .btn{
    width: 86px;
    margin-right: 10px;
}

@media(max-width:745px) {
    .index-banner1{
        background-image: url(../img/index/天雨台灣首頁\ banner.jpg);
        height: 592px;
        background-size: cover;
        background-position: center center;
    }
    .index-wrap .part h1{
        font-size: 32px;
    }
    .part3 .oil img{
        object-fit: contain;
    }
    .index-wrap .part1,.index-wrap .part2,.index-wrap .part3-team{
        height: auto;
        padding: 0;
    }
    .index-wrap .part1 .left{
        width: 100%;
        padding: 20px 27px 50px;
    }
    .index-wrap .part2 .right{
        width: 100%;
        padding: 180px 27px 42px;
    }
    .index-wrap .part1 .right{
        width: 100%;
        top: 300px;
    }
    .index-wrap .part2 .left,.index-wrap .part3 .part3_text{
        width: 100%;
        top: 0px;
    }
    .index-wrap .part2{
        flex-direction: column-reverse;
        margin-top: 272px;
    }
    .index-wrap .part3-team{
        flex-direction: column-reverse;
    }
    .index-wrap .part3{
        flex-direction: column;
    }
    .index-wrap .part3 .part3-img{
        width: 60%;
        position: relative;
    }
    .index-wrap .part3 .part3_text{
        padding: 180px 20px 10px;
    }
    .index-wrap.container-fluid .part3 .part3_text{
        padding-top: 250px;
        padding: 0;
        width: 85%;
    }
    .part.part3_text span{
        margin-top: -27px;
    }
    .index-wrap.container-fluid .part3{
        margin-top: 70px;
        margin-bottom: 50px;
        padding: 20px;
    }
    .part3 .oil img{
        top: 20px;
    }
    .index-wrap.container-fluid .part3 .part3-img{
        width: 95%;
        top: -20px;
    }
}

/*---------------footer area------------------*/

footer{
    background-color: #f4f4f4;
    height: auto;
}

.footer-area{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.footer-top{
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo{
    width: 20%;
}
.footer-logo img{
    width: 120%;
}

.footer-area ul{
    display: flex;
    justify-content: space-between;
    width: 75%;
    flex-wrap: wrap;
}

.footer-area li{
    width: 15%;
}

.footer-area h2{
    letter-spacing: 0.8px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ffcb19;
    color: #2c2c2c;
    width: 80%;
}

.footer-links a{
    padding: 5px 0px;
    display: block;
    text-decoration: none;
    color: #636363;
    font-size: 15px;
}

.footer-social{
    text-align: right;
    width: 60%;
}

.footer-social img{
    width: 50px;
}

.footer-social a{
    display: inline-block;
    width: 60px;
}

.footer-top a:hover{
    color: #E5C45D;
    font-weight: bold;
}

.footer-social p{
    margin-top: 5px;
    color: #8b8b8b;
}

footer .line{
    background-color: #dddddd;
    height: 0.5px;
    width: 95%;
    margin: 20px auto;
}

.footer-down .Related-agencies{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}
.footer-down .Related-agencies a:nth-child(1){
    width: 46%;
}
.footer-down .Related-agencies a{
    width: 27%;
    height: fit-content;
}
.footer-contact{
    display: flex;
    width: 100%;
}
.footer-contact-left{
    width: 50%;
    padding-left: 25px;
}
.footer-social{
    width: 50%;
}
.footer-contact p{
    font-size: 15px;
}
.footer-area-bottom{
    width: 100%;
    background-color: #212121;
}
.footer-area-bottom p{
    text-align: center;
}
.Related-agencies iframe{
    width: 100%;
    height: 70px;
    margin-top: 10px;
}
@media(max-width:745px) {
    footer{
        height: 100%;
    }

    .footer-area{
        flex-direction: column;
        background-color: #f4f4f4;
    }

    .footer-logo{
        width: 75%;
        margin-bottom: 25px;
        text-align: center;
    }

    .footer-area ul{
        width: 95%;
    }

    .footer-area ul li{
        width: 42.5%;
    }

    .footer-down>li{
        padding-bottom: 32px;
    }

    .footer-area h2{
        margin-top: 10px;
        font-size: 16px;
    }

    .footer-social a{
        width: 45px;
    }

    .footer-social img{
        width: 40px;
    }
/*
    .footer-links{
        display: none;
    }

    .footer-links.open{
        display: block;
        transition: 1s;
    }
*/
    .footer-down h2{
        color: #2c2c2c;
        font-weight: 600;
    }

    .footer-down h2.hv{
        color: #E5C45D;
    }

    .footer-contact{
        flex-wrap: wrap;
    }
    .footer-contact-left, .footer-social{
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .footer-contact-left p span{
        display: block;
    }
    .footer-down .Related-agencies{
        width: 100%;
        justify-content: center;
    }
    .footer-down .Related-agencies a:nth-child(1){
        width: 40%;
    }
    .footer-down .Related-agencies a{
        width: 23%;
    }
    .Related-agencies iframe{
        height: 70px;
        margin-top: 30px;
    }
    .footer-social{
        margin-top: 15px;
        text-align: center;
    }
    .footer-logo img{
        width: 80%;
    }
    .Related-agencies iframe{
        width: 300px;
    }
}




/*---------------go top------------------*/
.gotop{
    position: fixed;
    bottom: 50px;
    right: 10px;
    z-index: 1;
}

.gotop a{
    display: block;
    height: 50px;
    width: 50px;
    background-color: #E5C45D;
    border-radius: 50%;
    background-image: url(img/icon/未命名-2.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.gotop a .fa-chevron-up{
    font-size: 38px;
    color: #fff;
}

/*-----------------swiper----------------*/
.gallert-swiper {
    display: none;
    width: 334px;
    height: 223px;
  }
.info-part2 .swiper{
    display: block;
    width: 100%;
    height: auto;
}
.test-swiper{
    width: 90%;
    height: 360px;
}
.test-swiper .swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #ff5151;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:745px) {
    .gallery-swiper{
        display: block;
        width: 100%;
        height: auto;
    }    

    .part3 ul{
        display: none;
    }

    .index-sw{
        margin-bottom: 25px;
    }
}






/*----------------------------------about page------------------------------------------*/
.about.banner{
    position: relative;
}

.about.banner .banner-text{
    width: 45%;
    padding: 30px 45px;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.about.banner .banner-text .f-born{
    font-size: 22px;
}

.about-text1{
    margin: 25px 0 25px 0;
    padding: 50px 75px;
    position: relative;
}
.about-text1::after{
    content: '';
    width: 20px;
    height: 150px;
    background-color: #E5C45D;
    position: absolute;
    top: -50px;
    left: 50px;
}

.about-text1 h1{
    font-size: 32px;
    text-align: center;
    margin: 20px;
}

@media(max-width:745px) {
    .about.banner .banner-text{
        position: relative;
        width: 100%;
        transform: none;
        padding: 20px;
        right: 0;
    }

    .about-text1{
        padding: 20px;

    }
    .about-text1 h1{
        font-size: 23px;
        margin: 10px 0;
        letter-spacing: 0;
    }

    .about.banner .banner-text h1{
        font-size: 28px;
        line-height: 1.2;
    }
    .about-text1::after{
        display: none;
    }
    .about-text1 h1:nth-child(1)::before{
        content: '';
        position: absolute;
        top: 26px;
        left: 0;
        width: 30px;
        height: 25px;
        background: #E5C45D;
    }
}


/*----------------------------------------*/
.about-part1{
    display: flex;
    margin-top: 85px;
}

.about-part1 .part-l, .about-part2 .part-l{
    width: 55%;
}

.about-part1 .part-r, .about-part2 .part-r{
    width: 40%;
    padding-top: 25px;
}

.about-part1 .part-l,.about-part2 .part-l{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-part1 .part-l img,.about-part2 .part-l p{
    width: 80%;
}

.about-part1 .part-r p{
    margin-bottom: 25px;
}

.about-part1-1{
    position: relative;
    margin: 85px auto;
}

.about-part1-1 h1{
    margin: 85px auto;
    padding: 25px;
    padding-left: 125px;
    font-size: 26px;
    width: 80%;
    border-radius: 15px;
    line-height: 1.3;
}

.about-part1-1 .blackseed{
    position: absolute;
    bottom: -80px;
    left: 50px;
    width: 220px;
}

.drop{
    position: absolute;
}
.drop1{
    top: 0;
    right: 20px;
    width: 6%;
}
.drop2{
    top: -95px;
    right: 80px;
    width: 5%;
}
.drop3{
    top: 90px;
    right: 90px;
    width: 9%;
}

@media(max-width:745px) {
    .about-part1{
        flex-direction: column;
        padding: 20px;
        margin-top: -26px;
    }
    .about-part1 .part-l, .about-part2 .part-l{
        width: 100%;
    }
    .about-part1 .part-r, .about-part2 .part-r{
        width: 100%;
    }
    .about-part1 .part-l img, .about-part2 .part-l p{
        width: 100%;   
    }
    .about-part1-1 .blackseed{
        width: 170px;
        left: initial;
        right: 20px;
    }
    .about-part1-1 h1{
        padding: 25px 25px 50px 25px;
        margin: 10px auto 85px;
        font-size: 23px;
    }

    .about-part1-1{
        margin: 0 auto;
    }
    .drop1{
        right: initial;
        top: initial;
        bottom: -52px;
        left: 120px;
        width: 8%;
    }
    .drop2{
        right: initial;
        top: initial;
        left: 180px;
        bottom: -32px;
    }
    .drop3{
        right: initial;
        top: initial;
        bottom: -25px;
        left: 50px;
        width: 12%;
    }
}

/*----------------------------------------*/
.about-part2{
    padding-top: 50px;
    display: flex;
    padding-bottom: 100px;
    background-image: url('../img/team/bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.about-part2 .part-l img{
    width: 60%;
    margin-top: 40px;
}

.about-part2 .part-l{
    flex-direction: column;
}

.about-part2 .part-r img{
    width: 70%;
    margin: auto;
}

.about-part2 .part-r{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.part-r .f-born{
    margin-top: 10px;
    font-size: 38px;
    color: #E5C45D;
}




@media(max-width:745px) {
    .about-part2{
        flex-direction: column;
        padding: 20px;
        margin-top: 0px;
        margin-bottom: 30px;
        position: relative;
    }

    .about-part2 .part-l img{
        width: 80%;
        margin-bottom: 25px;
    }

    .about-part2 .part-l{
        align-items: flex-start;
    }

    .about-part2 .part-r img{
        width: 42%;
        position: absolute;
        top: 50%;
        right: 5%;
    }

    .about-part2 .part-l p{
    }
    .part-r .f-born{
        font-size: 24px;
    }

    
}


/*-------------------------------------------------*/



/*----------------------------------business page------------------------------------------*/
.business.banner{
    width: 100%;
    height: 573.7px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    background-image: url('../img/business/beautiful-young-smiling-asian-woman-working-laptop-drinking-coffee.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.business.banner .banner-text{
    width: 45%;
    padding: 30px 45px;
    position: absolute;
    left: 90px;
    top: 50%;
    transform: translateY(-50%);
}

.banner-text .f-born{
    font-size: 22px;
}
.banner-text-ph{
    display: none;
}

.banner-text-ph h1{
    font-size: 28px;
    line-height: 1.2;
}

.busi-adv{
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    flex-wrap: wrap;
    max-width: 1200px;
}
.busi-adv .adv-part{
    width: 30%;
}
.busi-adv .adv-part .adv-img{
    width: 100%;
    height: 250px;
    background-color: antiquewhite;
}

.adv-part h2{
    font-size: 22px;
    line-height: 1.3;
    font-weight: bold;
    margin: 10px 10px;
}
.adv-part p{
    margin: 0 10px;
}

.join-us{
    height: 250px;
    width: 100%;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 170px;
    position: relative;
}

.join-us-box{
    display: flex;
    justify-content: space-around;
    width: 80%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}
.join-us-box .ap-join, .join-us-box .contact-service{
    width: 46%;
    background-color: white;
    border: 1px solid #E5C45D;
    padding: 15px;
    border-radius: 10px;
}

.join-us-box h2{
    font-size: 23px;
    font-weight: bold;
    margin: 5px auto 10px;
}

.banner-text .born-font{
    font-weight: 500;
}

@media(max-width:745px) {
    .business.banner{
        height: 276px;
        background-image: url('../img/business/beautiful-young-smiling-asian-woman-working-laptop-drinking-coffee\ ph.jpg');

    }
    .business.banner .banner-text{
        display: none;
    }
    .banner-text-ph{
        display: block;
        width: 85%;
        margin-bottom: 35px;
        margin: 10px auto 30px;

    }
 

    .banner-text .f-born{
        font-size: 22px;
    }

    .busi-adv{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .busi-adv .adv-part{
        width: 80%;
    }
    .adv-part p{
        margin-bottom: 50px;
    }
    .join-us-box{
        flex-direction: column;
        align-items: center;
    }
    .join-us-box .ap-join, .join-us-box .contact-service{
        width: 90%;
        margin-bottom: 25px;
    }
    .join-us{
        margin-bottom: 290px;
    }
}


/*--------------------contact--------------------*/
.contact-banner{
    width: 100%;
    height: 573.7px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    background-image: url('../img/contact/大廳櫃台.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.contact-banner .banner-text{
    background-color: white;
    width: 45%;
    padding: 30px 45px;
    position: absolute;
    left: 90px;
    top: 75%;
    transform: translateY(-50%);
}

.contact-banner .banner-text .f-born{
    font-size: 22px;
}

.banner-text-ph h1{
    font-size: 28px;
    line-height: 1.2;
}



.world-contact{
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    flex-wrap: wrap;
    max-width: 1200px;
}


.contact-part p{
    margin-bottom: 10px;
}

.contact-part h2, .axxatw-info>h2{
    font-size: 23px;
    font-weight: bold;
    margin: 5px auto 10px;
    border-bottom: 1px solid #E5C45D;
    padding-bottom: 3px;
    width: 100%;
    color: #535353;
}
.contact-part .f-born{
    margin-left: 10px;
}

.world-contact .contact-part{
    width: 40%;
    margin-bottom: 30px;
}

.world-contact-title{
    height: 300px;
    width: 70%;
    margin: auto;
    background:linear-gradient(black white);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: relative;
    background-image: url('../img/contact/32613745_global_network2.png');
    background-size: cover;
    background-position: top;
}
.world-contact-title a{
    margin-top: 15px;
    letter-spacing: 3px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
    color: #E5C45D;
}
.world-contact-title a:hover{
    background-color: #E5C45D;
    color: #fff;
}
.axxatw-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 30px;
}
.axxatw-info h2{
    font-weight: 700;
    color: #535353;
}
.axxatw-info p{
    margin-bottom: 20px;
}

.axxatw-info-wrap{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.axxatw-info-wrap .info-part1,.axxatw-info-wrap .info-part2{
    width: 50%;
}

.axxatw-info-wrap .info-part1{
    padding-left: 80px;
}
.info-map{
    width: 100%;   
    height: 350px;
    margin-bottom: 30px;
}

.add-line{
    background-color: #22BA4F;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    width: 320px;
    margin: 20px 0px;
}
.add-line img{
    width: 100px;
}

.add-line-text{
    margin-left: 20px;
}
.add-line-text h2{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 14px;
    color: #fff;
    line-height: 1.3;
}
.add-line-text a{
    background-color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    color: #22BA4F;
    text-decoration: none;
    font-weight: bold;
}
.world-contact-title h1 span{
    font-size: 28px;
    font-family: 'bornready';
    font-weight: 200;
    color: #E5C45D;
    margin-right: 15px;
    text-align: center;
    display: block;
}


@media(max-width:745px) {
    .contact-banner{
        height: auto;
    }

    .contact-banner img{
        display: block;
        width: 100%;
    }
    .contact-banner .banner-text{
        display: none;
    }
    .world-contact{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    .world-contact .contact-part{
        width: 80%;
    }
    .add-line img{
        width: 30%;
    }
    .axxatw-info-wrap{
        width: 90%;
        flex-direction: column-reverse;
    }

    .axxatw-info{
        justify-content: center;
        padding: 0;
    }
    .axxatw-info-wrap{
        padding: 0;
        margin-bottom: 30px;
    }
    .axxatw-info-wrap .info-part1,.axxatw-info-wrap .info-part2{
        width: 100%;
    }
    .add-line{
        width: 100%;
    }
    .world-contact-title{
        width: 100%;
        justify-content: center;
    }
    .world-contact-title h1 span{
        display: block;
        margin: auto;
    }
    .axxatw-info-wrap .info-part1{
        padding-left: 0px;
    }
    .contact-banner img{
        display: none;
    }
    .info-part1 .banner-text-ph{
        width: 100%;
        margin: -12px auto 30px;
    }

    .world-contact-title h1 span{
        font-size: 22px;
    }
}

/*--------------------team--------------------*/
.ourteam-banner{
    height: 686px;
    background-image: url(../img/axxa+group2.jpg);
    background-size: cover;
    background-position: bottom;
    position: relative;
}
.ourteam-banner img{
    display: none;
}

.team-title{
    position: absolute;
    bottom: 52px;
    left: 50%;
    transform: translate(-50%);
    
    padding-top: 60px;
    text-align: center;
}
.team-title h1{
    color: #fff;
}

.team-title .f-born{
    font-size: 32px;
    text-align: center;
    margin-top: -9px;
}

.team3{
    background-image: url('../img/team/expert\ bg.png');
    background-size: cover;
}

.team1,.team2{
    max-width: 1200px;
    margin: auto;
}
.team1 h1,.team2 h1{
    line-height: 0.8;
}

.team2 .right{
    position: relative;
    top: 0;
}

.team1 .part,.team2 .part{
    position: relative;
}

.team1 .left .fk-bg{
    position: absolute;
    top: 50px;
    left: 20%;
    z-index: -1;
    width: 56px;
}
.fk-bg-drop{
    position: absolute;
    top: 42%;
    right: 20px;
    z-index: 0;
    width: 40%;
}
.frankee{
    position: relative;
    z-index: 1;
    width: 58%;
}

.team2 .right .sh-bg{
    position: absolute;
    top: 0;
    right: 15%;
    z-index: -1;
    width: 15%;
}
.team2 .right .sh-bg-drop{
    position: absolute;
    top: 42%;
    left: 45px;
    z-index: 0;
    width: 30%;
}
.team2 .right .shin{
    width: 95%;
    position: relative;
    z-index: 1;
}

.expert-team{
    background-image: url('../img/team/crew\ page.png');
    background-size: cover;
    background-position: right;
    height: 420px;
    background-attachment: fixed;
}

.team3 .part3_text{
    background-color: #fff;
    width: 85%;
    margin: auto;
    position: relative;
    top: -100px;
    left: 0;
}

.team3 .part3_text h1{
    text-align: center;
    margin-top: 25px;
} 

.part3_text .our-expert{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 60px;
}
.part3_text .our-expert li{
    width: 28%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: start ;
    padding: 10px;
}
.our-expert li img{
    width: 80%;
    border-radius: 50%;
    margin: 0 auto;
}
.our-expert li h2{
    font-size: 20px;
    margin: 10px auto 5px;
}
.our-expert li p{
    font-size: 16px;
    line-height: 1.6em;
}
.team3 .part3_text .our-expert li h3{
    text-align: left;
    font-size: 22px;
    margin: 3px 0px 10px;
}

.ourteam-underline {
    border-bottom: 1px solid #ffcb19;
}


@media(max-width:745px) {
    .team2{
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    .team1{
        flex-direction: column;
        margin-top: 50px;
    }

    .team1 .part h1 span,.team2 .part h1 span{
        font-size: 25px;
    }
    .expert-team{
        background-image: url('../img/team/crew\ page\ ph.png');
        background-size: cover;
        height: 300px;
        background-position: center;
    }
    .team3 .part3_text{
        width: 90%;
    }
    .team2 .right .shin{
        width: 75%;
    }
    .part3_text .our-expert li{
        width: 45%;
    }
    .team3 .part3_text .f-born{
        font-size: 20px;
    }
    .expert-team{
        background-attachment: unset;
    }
    .ourteam-banner{
        width: 100%;
        height: 320px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .team-title{
        padding-top: 22px;
    }
    
    .team-title .f-born{
        font-size: 20px;
        margin-top: -9px;
    }
    .frankee{
        width: 60%;
    }
    .ourteam-banner{
        background-image: url('../img/axxa+group.jpg');
    }
}
@media(max-width:426px) {
    .part3_text .our-expert li{
        width: 90%;
    }
}

/*----------------SO Plus----------------*/
.SOPlus.banner{
    width: 100%;
    height: 573.7px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    background-image: url('../img/pd/so_plus/天然背景-pc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.SOPlus.banner .banner-text{
    color: #242424;
    width: 50%;
    padding: 30px 45px;
    position: absolute;
    left: 90px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffffd1;
}
.pdBox{
    position: absolute;
    right: 20px;
    bottom: -40px;
}

.SOPlus.banner .pdBox{
    max-width: 40%;
}

.sp-part1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px auto 0;
    position: relative;
}
.sp-part1 img{
    width: 75%;
}
.part1-textbox{
    width: 60%;
    padding: 80px;
}
.part1-imgbox{
    width: 40%;
}

.part1-textbox h2{
    font-size: 32px;
    line-height: 1.3em;
    font-weight: bolder;
    margin-bottom: 18px;
}
.pd-title{
    text-align: center;
    margin: 50px auto 15px;
    width: 100%;
}
.pd-title .f-born{
    font-size: 20px;
    margin-top: -3px;
    font-weight: 300;
    position: relative;
    top: -23px;
}



.ingredien1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ingredien1 .textbox h2{
    text-align: left;
}
.ingredien1 .ingredien1-textbox{
    width: 60%;
    padding-left: 10%;
}
.textbox h2,.benefit-card h2{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
    color: #E5C45D;
}

.ingredien1 .ingredien1-imgbox{
    width: 35%;
}

.ingredien2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.ingredien2 li{
    width: 27%;
    margin: 3%;
    text-align: center;
}

.ingre-bg{
    position: absolute;
    top: -370px;
    left: 0;
    z-index: -1;
}
.ingre-bg-ph{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.sp-benefit{
    background-image: url(../img/pd/so_plus/黑小茴香草.jpg);
    background-position: bottom;
    background-repeat: repeat-x;
}

.sp-benefit .benefit-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sp-benefit .benefit-card li{
    width: 20%;
    margin: 2%;
    border: 1px solid rgb(255, 201, 23);
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    background-color: white;
}

.brunswick{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.brunswick img{
    width: 50%;
}
.brunswick p{
    width: 80%;
    margin: 20px auto;
}
.pd-icon{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.pd-icon img{
    width: 12.5%;
}


@media(max-width:821px) {
    .ingre-bg{
        top: -220px;
    }
    .ingredien2 li{
        width: 40%;
    }
}


.textbox img{
    position: relative;
    top: 30px;
}

@media(max-width:745px) {
    .SOPlus.banner{
        flex-direction: column;
        margin-bottom: 50px;
        height: 380px;
    }
    .SOPlus.banner .banner-text{
        color: #fff;
        width: 90%;
        padding: 30px 45px;
        position: relative;
        left: 0;
        top: 0;
        transform: translateY(0);
        display: none;
    }   
    .SOPlus.banner .pdBox{
        max-width: 65%;
    }
    .pdBox{
        bottom: -25px;
    }
    .sp-part1{
        flex-direction: column-reverse;
    }
    .part1-textbox{
        position: absolute;
        padding: 25px 30px 10px;
        width: 82%;
        background-color: #ffcb19bf;
        color: #fff;
        border-radius: 15px;
    }
    .part1-textbox h2{
        font-size: 24px;
    }
    .part1-textbox p{
        display: none;
    }
    .sp-part1 img{
        width: 100%;
        display: none;
    }
    .part1-imgbox{
        width: 90%;
        background-image: url('../img/pd/so_plus/seedoil.png');
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
        height: 320px;
    }
    .sp-part1{
        margin: 10px auto 0;
    }
    .ingredien1{
        flex-direction: column-reverse;
    }
    .ingredien1 .ingredien1-textbox{
        padding-left: 0;
        width: 70%;
    }
    .ingredien1 .ingredien1-imgbox{
        width: 50%;
    }
    .ingre-bg{
        display: none;
        top: -350px;
    }
    .ingre-bg-ph{
        display: block;
        width: 100%;
        top: -310px;
    }
    .textbox h2{
        font-size: 24px;
        text-align: center;
    }
    .ingredien2 li{
        width: 70%;
    }
    .sp-benefit .benefit-card li{
        display: flex;
        width: 90%;
        align-items: center;
        padding: 15px;
    }
    .benefit-card img{
        width: 35%;
    }
    .sp-benefit .benefit-card li,.benefit-card h2{
        text-align: left;
    }
    .benefit-card-text h2{
        font-size: 22px;
    }
    .benefit-card-text{
        padding-left: 15px;
    }
    .brunswick{
        flex-direction: column;
    }
    .brunswick img{
        width: 100%;
    }
    .brunswick2{
        margin-top: -50px;
    }
    
    .banner-text-ph .banner-text h1 span{
        display: block;
    }
    .ingredien1 .textbox h2{
        text-align: center;
    }
    .pd-title .f-born{
        top: -12px;
    }
}
@media(max-width:426px) {
    .SOPlus.banner .pdBox{
        max-width: 87%;
    }
    .pd-icon img{
        width: 25%;
    }
}  
/*----------------SO Collagen----------------*/
.SOCollagen.banner{
    width: 100%;
    height: 573.7px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    background-image: url('../img/pd/so_collagen/banner底圖.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.SOCollagen .f-born,.Collagen-ct .f-born,.Collagen-ct .pd-title .f-born{
    color: #DC616E
}

.SOCollagen.banner .banner-text{
    color: #242424;
    width: 50%;
    padding: 30px 45px;
    position: absolute;
    left: 90px;
    top: 50%;
    transform: translateY(-50%);
}
.SOCollagen.banner .banner-text h2{
    font-size: 58px;
    font-weight: 800;
    color: white;
}
.pdBox{
    position: absolute;
    right: 20px;
    bottom: -40px;
}

.SOCollagen.banner .pdBox{
    max-width: 50%;
}
.pd-fish-bg{
    position: absolute;
    bottom: 62px;
    right: 20%;
    width: 37%;
}

.Collagen-ct{
    height: auto;
    width: 100%;
}
.Collagen-ct .part1{
    background-image: url(../img/pd/so_collagen/金色漸層.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 442px;
    justify-content: start;
    margin: 80px auto 80px;
    border-radius: 10px;
    background-attachment: fixed;
}
.Collagen-ct .part1-textbox{
    position: relative;
    width: 60%;
}

.Collagen-ct .part1-textbox h2{
    color: #333333a6;
    font-size: 42px;
}
.Collagen-ct .part2{
    display: block;
    margin-top: 25px;
}


.Collagen-ct .part2 .part2-text{
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: auto;
    position: absolute;
    right: 0%;
    top: 12%;
    padding: 50px;
    border-radius: 10px;
}
.Collagen-ct .part2 .part2-text h1,.Collagen-ct .part3 h1{
    color: #DC616E;
}
.Collagen-ct .part3{
    position: relative;
}
.Collagen-ct .part3 p{
    margin: 5px auto 25px;
}

.c-bg3{
    position: absolute;
    right: 0;
    left: 0;
    bottom: -400px;
    width: 100%;
    z-index: -1;
}
.Collagen-ct .pd-title{
    margin-top: 50px;
}

.Collagen-ct .ingredien1 h2,.Collagen-ct .ingredien2 h2{
    color: #ff8c7f;
}

.SOCollagen .banner-text h2{
    color: white;
    font-size: 56px;
}

.Collagen-ct .sp-benefit{
    background-image: url(../img/pd/so_collagen/成分BG.png);
    background-position: center;
    background-size: cover;
    padding-bottom: 80px;
}
.ingredien1 .pd-title{
    margin-top: 300px;
}
.brunswick img{
    display: none;
}

.Collagen-ct .benefit-card li{
    border: 1px solid rgb(255 229 229);
}

.Collagen-ct .benefit-card li .benefit-card-text h2{
    color: #ff8c7f;
}
.Collagen-ct .brunswick .pd-title{
    margin-top: 80px;
}
.Collagen-ct .pd-icon{
    margin-bottom: 50px;
}

@media(max-width:1040px) {
    .SOCollagen.banner .banner-text{
        left: 28px;
    }
    .Collagen-ct .part1-textbox {
        width: 63%;
        padding: 48px;
    }
    .c-bg3{
        bottom: -280px;
    }
}
@media(max-width:745px) {
    .Collagen-ct .pd-title{
        margin-top: 100px;
    }
    .SOCollagen.banner{
        flex-direction: column;
        margin-bottom: 36px;
        height: 380px;
    }
    .SOCollagen.banner .banner-text{
        color: #fff;
        width: 90%;
        padding: 30px 45px;
        position: relative;
        left: 0;
        top: 0;
        transform: translateY(0);
        display: none;
    }   
    .SOCollagen.banner .pdBox{
        max-width: 60%;
    }
    .SOCollagen .pdBox{
        bottom: -69px;
        right: 26px;
    }
    .pd-fish-bg{
        bottom: 100px;
        right: 234px;
        width: 56%;
    }
    .Collagen-ct .part1{
        height: 360px;
        margin: 12px auto 19px;
    }
    .Collagen-ct .part1-textbox{
        padding: 20px;
        width: 90%;
        background-color: transparent;
        top: 83px;
    }
    .Collagen-ct .part1-textbox h2{
        font-size: 28px;
    }
    .Collagen-ct .part1-textbox p{
        display: block;
        color: #111;
    }
    .Collagen-ct .part2{
        display: flex;
        flex-direction: column-reverse;
    }
    .Collagen-ct .part2 .part2-text{
        width: 100%;
        padding: 34px;
        position: relative;
    }
    .Collagen-ct .part2 .part2-text img{
        position: absolute;
        width: 86%;
        top: 95%;
        right: 26px;
    }
    .c-bg3{
        bottom: -130px;
    }
    .Collagen-ct .ingredien1 .ingredien1-imgbox{
        width: 66%;
    }
    .Collagen-ct .pd-title{
        margin-top: 150px;
    }
    .sp-benefit .pd-title{
        margin-top: 50px;
    }
    .Collagen-ct .part2 .part2-text h1,.Collagen-ct .part3 h1{
        font-size: 26px;
    }
}

@media(max-width:426px) {
    .pd-fish-bg{
        bottom: 100px;
        right: 4px;
        width: 94%;
    }
    .SOCollagen.banner .pdBox{
        max-width: 80%;
    }
}

/*----------------SO Biotic----------------*/
.SOBiotic.banner{
    width: 100%;
    height: 573.7px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    background-image: url('../img/pd/so_biotic/源益banner背景圖.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.SOBiotic .f-born,.Collagen-ct .f-born,.Collagen-ct .pd-title .f-born{
    color: #939393;
    font-weight: 600;
}

.SOBiotic.banner .banner-text{
    color: #242424;
    width: 50%;
    padding: 30px 45px;
    position: absolute;
    left: 90px;
    top: 50%;
    transform: translateY(-50%);
}
.SOBiotic.banner .banner-text h2{
    font-size: 40px;
    font-weight: 800;
    color: #7cbda3;
    line-height: 1.2;
}
.pdBox{
    position: absolute;
    right: 5%;
    top: 150px;
    width: 100%;
}

.SOBiotic.banner .pdBox{
    max-width: 32%;
}
.biotic-info-pc{
    max-width: 1200px;
    margin: auto;
}
.biotic-info-ph{
    display: none;
}
@media(max-width:745px) {
    .SOBiotic.banner{
        background-image: url(../img/pd/so_biotic/源益banner背景ph-05.jpg);
    }
    .SOBiotic.banner{
        flex-direction: column;
        margin-bottom: 36px;
        height: 380px;
    }
    .SOBiotic.banner .banner-text h1 .f-born{
        margin-top: 0px;
        position: relative;
        top: -12px;
        font-size: 20px;
    }
    
    .SOBiotic.banner .banner-text{
        color: #fff;
        width: 100%;
        padding: 30px 45px;
        position: relative;
        left: 0;
        top: 0;
        transform: translateY(0);
        text-align: center;
    }   
    .SOBiotic.banner .banner-text h2{
        display: none;
    }
    
    .SOBiotic.banner .pdBox{
        max-width: 60%;
    }
    .SOBiotic .pdBox{
        bottom: -69px;
        right: 50%;
        transform: translateX(55%);
    }
    .biotic-info-pc{
        display: none;
    }
    .biotic-info-ph{
        display: block;
        text-align: center;
    }
}

/*---------------tech-----------------------*/
.tech.banner{
    height: 520px;
    background-image: url(../img/tech/banner\ bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 250px;
}
.tech-text{
    position: absolute;
    top: 100px;
    left: 50%;
    width: 80%;
    height: 600px;
    margin: auto;
    background-color: #fff;
    background-image: url(../img/tech/mix-herbs-green-branches-leaves-mint-eucalyptus-rosemary-aloe-vera-plants-collection-white.jpg);
    background-size: cover;
    transform: translateX(-50%);
}

.tech-text h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
    width: 56%;
    margin-top: 86px;
}
.why-seed{
    text-align: center;
    width: 60%;
    margin: auto;
    border-bottom: 1px solid #3E3A39;
    padding-bottom: 50px;
}

.why-seed h1{
    line-height: 1.5;
}

.extraction{
    position: relative;
    padding: 100px 20% 100px 30%;
}
.extraction h1{
    font-size: 32px;
}
.extraction img{
    position: absolute;
    left: 0;
    top: -450px;
    width: 24%;
}

.journey{
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

.journey-p{
    margin: 25px auto 100px;
    text-align: center;
}
.journey h1{
    font-size: 32px;
    margin-bottom: 30px;
}
.journey-part{
    display: flex;
    justify-content: center;
}
.journey-part li{
    width: 25%;
    margin-left: 15px;
}
.journey-part li h2{
    font-size: 22px;
    font-weight: 800;
    margin: 12px auto 6px;
    color: #3E3A39;
}
.journey-part li p{
    padding: 0px 12px 15px;
}

.tech-content{
    max-width: 1200px;
    margin: auto;
}
.tech-content ul li{
    display: flex;
    margin: 50px auto;
    padding-left: 50px;
    align-items: center;
    justify-content: center;
}

.tech-content ul li h1{
    font-size: 32px;
    margin-bottom: 10px;
}
.tech-content ul li .tech-content-img{
    width: 30%;
    text-align: end;
}
.tech-content ul li .tech-content-text{
    width: 70%;
    padding: 25px 50px;
}
.TM-s{
    font-size: 20px;
}

@media(max-width:745px) {
    .tech-text{
        top: 0;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        height: 392px;
        width: 92%;
    }
    .tech-text h1{
        width: 70%;
        font-size: 22px;
        margin-top: 42px;
    }
    .tech-text h1 .f-born{
        display: inline-block;
        font-size: 24px;
        margin-top: 14px;
    }
    .extraction h1 .f-born{
        margin-top: 14px;
        font-size: 22px;
        display: block;
    }
    .tech-content-text h1 .f-born,.tech-content-text h1 span{
        margin-top: 0px;
        font-size: 22px;
    }
    
    .tech.banner{
        height: 386px;
    }
    .tech.banner{
        margin-bottom: 0;
    }
    .why-seed{
        width: 80%;
    }
    .extraction img{
        top: -376px;
        width: 21%;
    }
    .extraction{
        padding: 10%;
    }
    .extraction h1{
        font-size: 24px;
    }
    .journey{
        background-color: cornsilk;
    }
    .journey h1{
        padding-top: 25px;
    }
    .journey-part{
        flex-wrap: wrap;
    }
    .journey-part li{
        width: 90%;
        margin-left: 0;
        margin-bottom: 12px;
        background-color: #fff;
    }
    .tech-content ul li{
        flex-direction: column;
        padding-left: 0;
    }
    .tech-content ul li .tech-content-img,.tech-content ul li .tech-content-text{
        width: 90%;
    }
    .tech-content ul li .tech-content-text{
        padding: 25px 10px;
    }
    .journey-p{
        margin: 0;
        padding: 25px;
        font-weight: 900;
    }
    .tech-content ul li h1 br{
        display: none;
    }
    .tech-content ul li .tech-content-img{
        text-align: center;
    }
}

/*-------------faq part-------------------*/
.faq-banner{
    height: 520px;
    max-width: 100%;
    background-image: url(../img/faq/faq-banner-pc.jpg);
    background-size: cover;
    background-position: left;
}
.faq-banner-ph{
    display: none;
}
.faq-container{
    max-width: 1200px;
    margin: 12px auto;
    padding: 0 20px;
}

.faq-container h1{
    font-size: 36px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #969696;
}

.faq-container .section-title{
    padding: 18px 0;
    border-bottom: 1px solid #e8e8e8;
}

.faq-container .faq-list{
    width: 100%;
    padding-left: 30px;
    border-bottom: 1px solid #e8e8e8;
}

.faq-container .faq-title{
    font-size: 16px;
    line-height: 24px;
}

.faq-container .faq-answer{
    padding: 12px 20px 24px;
    color: #515151;
}

.faq-container .faq-list li{
    padding: 12px 0 12px 0;
    border-bottom: 1px solid #e8e8e8;
}

.faq-container .faq-list li:last-child {
    border-bottom: 0;
}

.accordion-button::after{
    content: url(../img/icon/external-chevron-arrows-tanah-basah-basic-outline-tanah-basah-5.png);
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    margin-top: -2px;
}
.accordion-button{
    position: relative;
    float: right;
    width: 23px;
}

.faq-list{
    display: none;
    height: 0px;
    
}
.faq-list1.open, .faq-list2.open, .faq-list3.open{
    cursor: pointer;
    display: block;
    opacity: 1;
    height: auto;
    transition: 1s;
}

.accordion-button.active{
    cursor: pointer;
    content: url(../img/icon/collapse-arrow--v1.png);
}





@media only screen and (min-width: 0px) and (max-width: 767px){
    .faq-banner{
        background-image: url(../img/faq/faq-banner-ph.jpg);
        background-position: center;
        height: 280px;
    }
    .faq-container {max-width: 860px;
    }
    .faq-container .section-title{
        padding: 18px 0;
        cursor: pointer;
    }
    .accordion-button{
        position: relative;
        float: left;
    }
    .accordion-button.ac-button-header{
        width: 16px;
        height: 16px;
        margin: 8px 22px 0 12px;
        top: -8px;
    }
    .faq-banner-pc{
        display: none;
    }
    .faq-banner-ph{
        display: block;
    }
}
/*------------------------------------*/
.business-banner{
    background-image: url(../img/business/banner-03.jpg);
    height: 350px;
    width: 100%;
    background-position: right;
    background-size: cover;
    position: relative;
}
.business-banner-text{
    position: absolute;
    left: 22%;
    top: 38%;
}

.business-banner h1{
    font-size: 36px;
}
.business-banner .f-born{
    font-size: 25px;
    position: relative;
    top: -10px;
}

.business-content{
    text-align: center;
    position: relative;
    max-width: 1200px;
    margin: auto;
}

.business-content h1{
    margin: 50px auto;
    font-size: 2.2rem;
}
.business-content .b-1{
    display: flex;
    text-align: left;
}
.business-content .b-1 p{
    margin: 60px 25px 0px;
}
.business-content .b-1 p span{
    width: 100%;
    display: block;
    font-size: 32px;
}
.business-content .sub-title{
    margin: 80px;
    font-size: 1.5rem;
}

.business-advance{
    display: flex;
    flex-wrap: wrap;
}
.advance-part{
    width: 33.33%;
    padding: 20px;
}
.advance-part:nth-last-child(1){
    width: 100%;
    display: flex;
}
.advance-part img{
    width: 100%;
}
.advance-part .advance-text{
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 10px 10px 20px;
}

.business-content .advance-part .advance-text h1{
    margin: 0;
    font-size: 24px;
}
.join-box :nth-child(1){
    border-bottom: 1px solid grey;
}
.join-business{
    display: flex;
    flex-wrap: wrap;
}
.join-business .sub-title{
    width: 100%;
}
.join-business .join-box{
    width: 50%;
}
.join-box{
    text-align: left;
    padding: 5px 85px 30px;
}
.join-box h3{
    font-weight: 600;
}

@media(max-width:745px) {
    .business-banner-text{
    left: 10%;
    }
    .business-banner h1{
        font-size: 26px;
    }
    .business-banner .f-born{
        font-size: 20px;
    }
    .business-banner{
        height: 150px;
    }
    .business-banner h1{

    }
    .business-content h1{
        margin: 50px;
        font-size: 1.6rem;
    }
    .business-content .b-1{
        flex-wrap: wrap;
    }
    .business-content .b-1 p{
        margin: 15px 25px 0px;
    }
    .business-content .sub-title{
        margin: 50px 0;
        font-size: 1.2rem;
        padding: 50px 36px;
        text-align: left;
        background-color: #faebd742;
    }
    .advance-part{
        width: 100%;
        padding: 15px 45px;
    }
    .advance-part:nth-last-child(1){
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .join-box{
        padding: 5px 35px 30px;
    }
    .join-business .join-box{
        width: 100%;
    }
}