/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    max-width: 100%;
    height: auto;
}

*{
    box-sizing: border-box;
}

/*------------------------以上為CSS reset-------------------------*/
@font-face {
    font-family: 'bornready';
    src: url('https://static1.squarespace.com/static/63071dfeb81deb5ffdb0a2b2/t/630c35b673c9a669db32b26b/1661744570391/Born-ready-slanted.ttf')
}

@font-face {
    font-family: 'lexend';
    src: url('https://static1.squarespace.com/static/63071dfeb81deb5ffdb0a2b2/t/630c35c780fdd80dc7d5c9e6/1661744583372/Lexend-Regular.ttf')
}

.f-born{
    font-family: 'bornready';
    font-weight: 100;
    color: #E5C45D;
}
/*------------------------以上為字體-------------------------*/


h1{
    font-size: 46px;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 1px;
    color: #3E3A39;
}

p{
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1px;
}
@media(max-width:745px) {
    h1{
        line-height: 1;
        font-size: 32px;
        line-height: 1.2em;
    }

    h1 span{
        margin-bottom: 5px;
        display: block;
        font-size: 30px;
        margin-top: 12px;
    }
    p{
        font-size: 16px;
        line-height: 1.5;
    }
}



.container{
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

.wrap{
    max-width: 1200px;
    margin: 0 auto;
}



/*--------------------以下為aside------------------------*/
.ph-menu-btn{
    display: none;
}
.aside{
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    background-color: #E5C45D;
    transform: translateX(-100%);
    transition-duration: .3s;
    display: none;
    overscroll-behavior: contain;x
}

.aside.aside-active{
    transform:translateX(0);
    margin-right:-23.5px;
}

.b-open {
    &:nth-of-type(1){
      transform:rotate(-45deg);
      transform-origin: right top;
    }
    &:nth-of-type(2){
      opacity:0;
    }
    &:nth-of-type(3){
      transform:rotate(45deg);
      transform-origin:right bottom;
    }
  }

.aside-btn{
    display: none;
    float:right;
    position:relative;
    top:5px;
    cursor:pointer;
    transition:all 0.5s ease;
    right:0;
}
.bar {
    display:block;
    height:4px;
    width:31px;
    background-color:#111;
    margin-top: 6.5px;
    border-radius: 4px;
    transition:all 0.5s ease;
    &:nth-of-type(1) {
      margin-top:0;
    }
  }

.aside ul{
    margin-top: 95px;
}
.aside ul:nth-child(1){
    margin-top: 90px;
}


.aside a{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 25px;
    font-size: 20px;
    color: #fff;
    font-weight: bolder;
}

.aside a:hover{
    background-color: white;
    color: #E5C45D;
}

.menu li .xoffice{
    background-color: #E5C45D;
    color: white;
    border-radius: 30px;
    line-height: 26px;
    margin-top: 10px;
}

.menu li .xoffice:hover{
    background-color: #e0b700;
}


.aside-open{
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

.aside .about-a .down-menu{
    display: none;
}
.aside .about-a .down-menu li{
    background-color: #d9ab1b;
}


.aside .pd-a .pd-menu{
    display: none;
}


@media(max-width:745px) {
    .aside{
        display: block;
    }
    .aside ul{
        margin-top: 0;
    }
    .pd-menu li{
        display: inline-block;
        width: 33.3%;
        background-color: #d9ab1b;
    }
    .pd-menu li a{
        padding: 5px;
    }
    .pd-menu li a h2{
        font-size: 20px;
        margin-top: 22px;
    }


    .pd-menu img{
        max-width: 56%;
    }
    .ph-menu-btn{
        display:inline-block;
    }
}

/*------------------------以下為header css-------------------------*/
.header{
    display: flex;
}

.logo{
    width: 15%;
    margin-left: 5%;
}

.menu{
    width: 75%;
}

.menu{
    display: flex;
    justify-content: end;
}

.menu ul{
    display: flex;
    align-items: center;
}

.menu li{
    text-align: center;
    line-height: 44px;
    height: 44px;
}

.menu li a{
    display: block;
    text-decoration: none;
    color: #3E3A39;
    font-weight: 700;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.menu li a:hover{
    color: #E5C45D;
    font-weight: bold;
}

.menu .down-menu{
    flex-direction: column;
    position: absolute;
    background-color: white;
    width: 150px;
    display: none;
    z-index: 999;
}

.menu .pd-menu{
    position: absolute;
    left: 0px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #E5C45D;
    padding: 0px 50px;
    display: none;
    z-index: 1;
}
.menu .pd-menu li{
    width: 20%;
    height: auto;
}

.about-a:hover>.down-menu{
    display: block;
}

.pd-a:hover>.pd-menu{
    display: flex;
}

.pd-menu li h2{
    font-size: 25px;
    position: relative;
    top: -25px;
    color: white;
    font-weight: bolder;
}

.ph-menu-btn a{
    margin-right: 15px;
}

@media(max-width:745px) {
    .ph-menu-btn{
        display: flex;
        align-items: center;
    }
    .header .menu{
        display: none;
    }

    .logo{
        width: 33%;
    }

    .aside-btn{
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        text-align: center;
        margin-right: 5%;
        z-index: 2;
        padding-top: 6px;
    }
    .header{
        justify-content: space-between;
        align-items: center;
    }
}

/*------------------------以上為常用CSS-------------------------*/
.index-banner{
    height: 562px;
    background-image: url(../img/首頁banner\ pc.jpg);
    background-size: cover;
    background-position: center;
}

.index-banner1{
    height: 682px;
    background-image: url(../img/index/天雨台灣首頁-03.jpg);
    background-size: cover;
    background-position: left;
    position: relative;
}
.index-banner1 h1{
    font-family: 'bornready';
    position: absolute;
    right: 40%;
    bottom: 50%;
    transform: translateY(-50%);
    color: #969696;
    font-weight: 400;
}

.white-part{
    width: 100%;
    background-image: url(../img/index/天雨台灣首頁-08.png);
    background-size: cover;
    position: absolute;
    height: 200px;
    bottom: 0;
    left: 0;
    right: 0;
}
@media(max-width:1200px) {
    .index-banner1 h1{
        right: 32%;
    }
}
@media(max-width:900px) {
    .index-banner1 h1{
        right: 10%;
    }
}

@media(max-width:745px) {
    .index-banner{
        height: 420px;
        background-image: url(../img/首頁banner\ mobile.jpg);
    }
    .index-banner1 h1{
        display: none;
    }
}   



/*---------banner-----------*/

.part{
    padding: 20px 20px;
}

.part1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    position: relative;
}

.part1 .left{
    width: 60%;
    margin-left: 100px;
}

.part1 .right{
    width: 90%;
    text-align: center;
}

.part1 .right img{
    width: 80%;
}


.part h1{
    margin-bottom: 15px;
}

.part h1 span{
    font-size: 32px;
}

.part .btn{
    display: block;
    text-align: center;
    align-items: center;
    width: 100px;
    height: 30px;
    color: #fff;
    background-color: #E5C45D;
    border-radius: 15px;
    margin-top: 25px;
    line-height: 2;
    text-decoration: none;
    font-weight: 600;
}
.index-wrap1 .part1,.index-wrap1 .part2{
    margin-bottom: 100px;
}

@media(max-width:745px) {
    .part1{
        flex-direction: column;
        position: relative;
    }
    .part1 .left{
        width: 85%;
        padding: 20px;
        margin-bottom: 30px;
    }

    .part1 .right{
        width: 105%;
        position: absolute;
        top: 236px;
        z-index: -1;
    }

    .part1 .right img{
        width: 60%;
    }
}

/*--------------以上為part1-------------------*/
.part2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
}

.part2 .left{
    width: 80%;
    text-align: center;
    position: relative;
}

.part2 .right,.part1 .left{
    width: 85%;
    padding-bottom: 30px;
    margin-left: 0;
}

.part2 .right h2{
    font-size: 32px;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
}

@media(max-width:745px) {
    .part2{
        flex-direction: column-reverse;
        margin-bottom: 0px;
        margin-top: 260px;
        background-color: white;
    }
    .part2 .right{
        width: 85%;
    }
    .part2 .left{
        width: 85%;
        padding-bottom: 35px;
    }
}

/*---------------------------------*/
.part3{
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 20px;
}

/*
.part3_left{
    display: inline-block;
    width: 50%;
}

.part3_right{
    display: inline-block;
    width: 45%;
}
*/

.part3 h2{
    font-size: 32px;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
}

.part3_text{
    margin-bottom: 25px;
}

.part3 ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.part3 ul li{
    width: 32%;
}

.pd-thumb{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 25px;
}
.pd-thumb li{
    display: inline-block;
    margin: 0 15px;
    cursor: pointer;
    transition: 0.5s;
}
.part2 .imgBox{
    width: 100%;
}
.pd-thumb li img{
    max-width: 50px;
}
.pd-thumb li:hover{
    transform: translateY(-15px);
}

.show-Pd{
    width: 80%;
}

@media(max-width:745px) {
    .part3{
        margin-bottom: 0px;
    }

    .part3 ul{
        flex-wrap: wrap;
    }

    .part3 ul li{
        width: 100%;
    }
    .pd-thumb li{
        margin: 0 5px;
    }
    .pd-thumb li img{
        max-width: 50px;
    }
    .show-Pd{
        width: 100%;
    }
}
/*-------------------index wrap1-------------------------*/
.index-wrap .part{
    padding: 0px 0px;
}
.index-wrap .part h1{
    font-size: 37px;
}

.index-wrap .part1,.index-wrap .part2,.index-wrap .part3-team{
    height: 530px;
    padding: 0;
}

.index-wrap .part1 .left{
    width: 50%;
    padding: 35px;
}

.index-wrap .part1 .right{
    width: 50%;
    text-align: center;
}
.index-wrap .part1 .right img{
    width: 100%;
    text-align: center;
}

.index-wrap .part2{
    flex-direction: row-reverse;
}

.index-wrap .part2 .right,.index-wrap .part3-team .left {
    padding: 35px;
}

.part3-team {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

.index-wrap .part3-team .right,.index-wrap .part3-team .left{
    width: 100%;
}

.index-wrap .part3{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.index-wrap .part3 .oil img{
    position: absolute;
    height: 500px;
    width: 100%;
    left: 0;
    right: 0;
    top: -100px;
    z-index: -1;
    object-fit: cover;
}

.index-wrap .part3 .part3_text{
    padding-top: 250px;
    padding: 150px 5px 70px 30px;
    width: 65%;
}
.index-wrap .part3 .part3-img{
    width: 35%;
}

.index-wrap .part .index-btn{
    display: flex;
}

.index-wrap .part .btn{
    width: 86px;
    margin-right: 10px;
}

@media(max-width:745px) {
    .index-banner1{
        background-image: url(../img/index/天雨台灣首頁\ banner.jpg);
        height: 592px;
        background-size: cover;
        background-position: center center;
    }
    .index-wrap .part h1{
        font-size: 32px;
    }
    .index-wrap .part3 .oil img{
        object-fit: contain;
    }
    .index-wrap .part1,.index-wrap .part2,.index-wrap .part3-team{
        height: auto;
        padding: 0;
    }
    .index-wrap .part1 .left,.index-wrap .part2 .right{
        width: 100%;
        padding: 20px 27px 50px;
    }
    .index-wrap .part1 .right{
        width: 100%;
        top: 300px;
    }
    .index-wrap .part2 .left,.index-wrap .part3 .part3_text{
        width: 100%;
        top: 0px;
    }
    .index-wrap .part2{
        flex-direction: column-reverse;
        margin-top: 386px;
    }
    .index-wrap .part3-team{
        flex-direction: column-reverse;
    }
    .index-wrap .part3{
        flex-direction: column;
    }
    .index-wrap .part3 .part3-img{
        width: 60%;
        position: relative;
        display: none;
    }
    .index-wrap .part3 .part3_text{
        padding: 180px 20px 10px;
    }
}

/*---------------footer area------------------*/

footer{
    background-color: rgb(255, 248, 236);
    height: 400px;
}

.footer-area{
    max-width: 1200px;
    margin: 0 auto;
}

.footer-top{
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo{
    width: 35%;
    text-align: center;
}

.footer-area ul{
    display: flex;
    justify-content: space-between;
    width: 65%;
}

.footer-area li{
    width: 25%;
}

.footer-area h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-links a{
    padding: 5px 0px;
    display: block;
    text-decoration: none;
    color: #3E3A39;
}

.footer-social{
    text-align: center;
}

.footer-social img{
    width: 50px;
}

.footer-social a{
    display: inline-block;
    width: 60px;
}

.footer-top a:hover{
    color: #E5C45D;
    font-weight: bold;
}

.footer-social p{
    margin-top: 5px;
}

footer .line{
    background-color: #fff;
    height: 1px;
    width: 70%;
    margin: 20px auto;
}


@media(max-width:745px) {
    footer{
        height: 100%;
    }

    .footer-area{
        flex-direction: column;
    }

    .footer-logo{
        width: 75%;
    }

    .footer-down{
        flex-direction: column;
    }

    .footer-area ul{
        width: 95%;
    }

    .footer-area ul li{
        width: 100%;
    }

    .footer-down>li{
        border-bottom: 1px solid #e9e9e9b0;
        padding-bottom: 10px;
    }

    .footer-area h2{
        margin-top: 10px;
    }

    
    .footer-social a{
        width: 45px;
    }

    .footer-social img{
        width: 40px;
    }

    .footer-links{
        display: none;
    }

    .footer-links.open{
        display: block;
        transition: 1s;
    }

    .footer-down h2{
        color: #3E3A39;
    }

    .footer-down h2.hv{
        color: #E5C45D;
    }
}




/*---------------go top------------------*/
.gotop{
    position: fixed;
    bottom: 50px;
    right: 10px;
    z-index: 99;
}

.gotop a{
    display: block;
    height: 50px;
    width: 50px;
    background-color: #E5C45D;
    border-radius: 50%;
    background-image: url(img/icon/未命名-2.png);
    background-size: cover;
}

/*swiper*/
.swiper {
    display: none;
    width: 334px;
    height: 223px;
  }

@media(max-width:745px) {
    .swiper{
        display: block;
        width: 100%;
        height: auto;
    }    

    .part3 ul{
        display: none;
    }

    .index-sw{
        margin-bottom: 25px;
    }
}






/*----------------------------------about page------------------------------------------*/
.about.banner{
    position: relative;
}

.about.banner .banner-text{
    background-color: white;
    width: 45%;
    padding: 30px 45px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.about.banner .banner-text .f-born{
    font-size: 22px;
}

.about-text1{
    margin: 25px 0 25px 0;
    padding: 50px 75px;
    position: relative;
}
.about-text1::after{
    content: '';
    width: 20px;
    height: 150px;
    background-color: #E5C45D;
    position: absolute;
    top: -50px;
    left: 50px;
}

.about-text1 h1{
    font-size: 32px;
    text-align: center;
    margin: 20px;
}

@media(max-width:745px) {
    .about.banner .banner-text{
        position: relative;
        width: 100%;
        transform: none;
        padding: 20px;
    }

    .about-text1{
        padding: 20px;

    }
    .about-text1 h1{
        font-size: 23px;
        margin: 10px 0;
        letter-spacing: 0;
    }

    .about.banner .banner-text h1{
        font-size: 28px;
        line-height: 1.2;
    }
    .about-text1::after{
        display: none;
    }
    .about-text1 h1:nth-child(1)::before{
        content: '';
        position: absolute;
        top: 26px;
        left: 0;
        width: 30px;
        height: 25px;
        background: #E5C45D;
    }
}


/*----------------------------------------*/
.about-part1{
    display: flex;
    margin-top: 85px;
}

.about-part1 .part-l, .about-part2 .part-l{
    width: 55%;
}

.about-part1 .part-r, .about-part2 .part-r{
    width: 40%;
    padding-top: 25px;
}

.about-part1 .part-l,.about-part2 .part-l{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-part1 .part-l img,.about-part2 .part-l p{
    width: 80%;
}

.about-part1 .part-r p{
    margin-bottom: 25px;
}

.about-part1-1{
    position: relative;
    margin: 85px auto;
}

.about-part1-1 h1{
    margin: 85px auto;
    padding: 25px;
    padding-left: 125px;
    font-size: 26px;
    width: 80%;
    border: 2px solid #E5C45D;
    border-radius: 15px;
    line-height: 1.3;
}

.about-part1-1 .blackseed{
    position: absolute;
    bottom: -80px;
    left: 50px;
    width: 220px;
}

.drop{
    position: absolute;
}
.drop1{
    top: 0;
    right: 20px;
    width: 6%;
}
.drop2{
    top: -95px;
    right: 80px;
    width: 5%;
}
.drop3{
    top: 90px;
    right: 90px;
    width: 9%;
}

@media(max-width:745px) {
    .about-part1{
        flex-direction: column;
        padding: 20px;
        margin-top: -26px;
    }
    .about-part1 .part-l, .about-part2 .part-l{
        width: 100%;
    }
    .about-part1 .part-r, .about-part2 .part-r{
        width: 100%;
    }
    .about-part1 .part-l img, .about-part2 .part-l p{
        width: 100%;   
    }
    .about-part1-1 .blackseed{
        width: 170px;
        left: initial;
        right: 20px;
    }
    .about-part1-1 h1{
        padding: 25px 25px 50px 25px;
        margin: 10px auto 85px;
        font-size: 23px;
    }

    .about-part1-1{
        margin: 0 auto;
    }
    .drop1{
        right: initial;
        top: initial;
        bottom: -52px;
        left: 120px;
        width: 8%;
    }
    .drop2{
        right: initial;
        top: initial;
        left: 180px;
        bottom: -32px;
    }
    .drop3{
        right: initial;
        top: initial;
        bottom: -25px;
        left: 50px;
        width: 12%;
    }
}

/*----------------------------------------*/
.about-part2{
    padding-top: 50px;
    display: flex;
    padding-bottom: 100px;
    background-image: url('../img/team/bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.about-part2 .part-l img{
    width: 60%;
    margin-top: 40px;
}

.about-part2 .part-l{
    flex-direction: column;
}

.about-part2 .part-r img{
    width: 70%;
    margin: auto;
}

.about-part2 .part-r{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.part-r .f-born{
    margin-top: 10px;
    font-size: 38px;
    color: #E5C45D;
}




@media(max-width:745px) {
    .about-part2{
        flex-direction: column;
        padding: 20px;
        margin-top: 0px;
        margin-bottom: 30px;
        position: relative;
    }

    .about-part2 .part-l img{
        width: 80%;
        margin-bottom: 25px;
    }

    .about-part2 .part-l{
        align-items: flex-start;
    }

    .about-part2 .part-r img{
        width: 42%;
        position: absolute;
        top: 50%;
        right: 5%;
    }

    .about-part2 .part-l p{
    }
    .part-r .f-born{
        font-size: 24px;
    }

    
}











/*-------------------------------------------------*/



/*----------------------------------business page------------------------------------------*/
.business.banner{
    width: 100%;
    height: 573.7px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    background-image: url('../img/business/beautiful-young-smiling-asian-woman-working-laptop-drinking-coffee.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.business.banner .banner-text{
    background-color: white;
    width: 45%;
    padding: 30px 45px;
    position: absolute;
    left: 90px;
    top: 50%;
    transform: translateY(-50%);
}

.banner-text .f-born{
    font-size: 22px;
}
.banner-text-ph{
    display: none;
}

.banner-text-ph h1{
    font-size: 28px;
    line-height: 1.2;
}

.busi-adv{
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
}
.busi-adv .adv-part{
    width: 30%;
}
.busi-adv .adv-part .adv-img{
    width: 100%;
    height: 250px;
    background-color: antiquewhite;
}

.adv-part h2{
    font-size: 22px;
    line-height: 1.3;
    font-weight: bold;
    margin: 10px 10px;
}
.adv-part p{
    margin: 0 10px;
}

.join-us{
    height: 250px;
    width: 100%;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 170px;
    position: relative;
}

.join-us-box{
    display: flex;
    justify-content: space-around;
    width: 80%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}
.join-us-box .ap-join, .join-us-box .contact-service{
    width: 46%;
    background-color: white;
    border: 1px solid #E5C45D;
    padding: 15px;
    border-radius: 10px;
}

.join-us-box h2{
    font-size: 23px;
    font-weight: bold;
    margin: 5px auto 10px;
}

@media(max-width:745px) {
    .business.banner{
        height: 276px;
        background-image: url('../img/business/beautiful-young-smiling-asian-woman-working-laptop-drinking-coffee\ ph.jpg');

    }
    .business.banner .banner-text{
        display: none;
    }
    .banner-text-ph{
        display: block;
        padding: 20px;
        width: 100%;
    }

    .banner-text .f-born{
        font-size: 22px;
    }

    .busi-adv{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .busi-adv .adv-part{
        width: 80%;
    }
    .adv-part p{
        margin-bottom: 50px;
    }
    .join-us-box{
        flex-direction: column;
        align-items: center;
    }
    .join-us-box .ap-join, .join-us-box .contact-service{
        width: 90%;
        margin-bottom: 25px;
    }
    .join-us{
        margin-bottom: 290px;
    }
}


/*--------------------contact--------------------*/
.contact-banner{
    width: 100%;
    height: 573.7px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    background-image: url('../img/contact/大廳櫃台.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.contact-banner .banner-text{
    background-color: white;
    width: 45%;
    padding: 30px 45px;
    position: absolute;
    left: 90px;
    top: 75%;
    transform: translateY(-50%);
}

.contact-banner .banner-text .f-born{
    font-size: 22px;
}

.banner-text-ph h1{
    font-size: 28px;
    line-height: 1.2;
}

.contact-banner img{
    display: none;
}

.world-contact{
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    flex-wrap: wrap;
}


.contact-part p{
    margin-bottom: 10px;
}

.contact-part h2, .axxaw-info-l>h2:nth-child(1){
    font-size: 23px;
    font-weight: bold;
    margin: 5px auto 10px;
    border-bottom: 1px solid #E5C45D;
    padding-bottom: 3px;
}
.contact-part .f-born{
    margin-left: 10px;
}

.world-contact .contact-part{
    width: 40%;
    margin-bottom: 30px;
}

.world-contact-title{
    height: 250px;
    width: 100%;
    background:linear-gradient(black white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../img/contact/32613745_global_network.png');
    background-size: cover;
}
.world-contact-title a{
    margin-top: 15px;
    letter-spacing: 3px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
    color: #E5C45D;
}
.world-contact-title a:hover{
    background-color: #E5C45D;
    color: #fff;
}
.axxatw-info{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.axxatw-info .axxaw-info-l h2{
    font-weight: 700;
}
.axxatw-info .axxaw-info-l p{
    margin-bottom: 10px;
}
.axxaw-info-l{
    width: 55%;
}
.axxaw-info-l{
    padding: 20px;
}
.axxaw-info-r{
    width: 40%;   
    height: 350px;
}

.add-line{
    background-color: #22BA4F;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    width: 320px;
    margin: 20px 0px;
}
.add-line img{
    width: 100px;
}

.add-line-text{
    margin-left: 20px;
}
.add-line-text h2{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 14px;
    color: #fff;
    line-height: 1.3;
}
.add-line-text a{
    background-color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    color: #22BA4F;
    text-decoration: none;
    font-weight: bold;
}
.world-contact-title h1 span{
    font-family: 'lexend';
    color: #E5C45D;
    margin-right: 15px;
    text-align: center;
}


@media(max-width:745px) {
    .contact-banner{
        height: auto;
    }

    .contact-banner img{
        display: block;
        width: 100%;
    }
    .contact-banner .banner-text{
        display: none;
    }
    .world-contact{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    .world-contact .contact-part{
        width: 80%;
    }
    .add-line img{
        width: 100px;
    }
    .axxaw-info-l, .axxaw-info-r{
        width: 90%;
    }
    .axxatw-info{
        justify-content: center;
        padding: 0;
    }
    .axxaw-info-l{
        padding: 0;
        margin-bottom: 30px;
    }
}

/*--------------------team--------------------*/
.ourteam-banner{
    height: 760px;
    background-image: url(../img/axxa+group.jpg);
    background-size: cover;
    background-position: bottom;
}
.ourteam-banner img{
    display: none;
}

.team-title{
    padding-top: 75px;
    text-align: center;
}
.team-title h1{
    color: #fff;
}

.team-title .f-born{
    font-size: 32px;
    text-align: center;
    margin-top: 12px;
}

.team3{
    background-image: url('../img/team/expert\ bg.png');
    background-size: cover;
}

.team1,.team2{
    max-width: 1200px;
    margin: auto;
}
.team1 h1,.team2 h1{
    line-height: 0.8;
}

.team2 .right{
    position: relative;
    top: 0;
}

.team1 .part,.team2 .part{
    position: relative;
}

.team1 .left .fk-bg{
    position: absolute;
    top: 50px;
    left: 20%;
    z-index: -1;
    width: 56px;
}
.fk-bg-drop{
    position: absolute;
    top: 42%;
    right: 20px;
    z-index: 0;
    width: 40%;
}
.frankee{
    position: relative;
    z-index: 1;
    width: 80%;
}

.team2 .right .sh-bg{
    position: absolute;
    top: 0;
    right: 15%;
    z-index: -1;
    width: 15%;
}
.team2 .right .sh-bg-drop{
    position: absolute;
    top: 42%;
    left: 45px;
    z-index: 0;
    width: 30%;
}
.team2 .right .shin{
    width: 95%;
    position: relative;
    z-index: 1;
}

.expert-team{
    background-image: url('../img/team/crew\ page.png');
    background-size: cover;
    background-position: right;
    height: 420px;
    background-attachment: fixed;
}

.team3 .part3_text{
    background-color: #fff;
    width: 85%;
    margin: auto;
    position: relative;
    top: -100px;
    left: 0;
}

.team3 .part3_text h1{
    text-align: center;
    margin-top: 25px;
} 

.part3_text .our-expert{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 60px;
}
.part3_text .our-expert li{
    width: 28%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: start ;
    padding: 10px;
}
.our-expert li img{
    width: 80%;
    border-radius: 50%;
    margin: 0 auto;
}
.our-expert li h2{
    font-size: 20px;
    margin: 10px auto 5px;
}
.our-expert li p{
    font-size: 16px;
    line-height: 1.6em;
}
.team3 .part3_text .our-expert li h3{
    text-align: left;
    font-size: 22px;
    margin: 3px 0px 10px;
}

.ourteam-underline {
    border-bottom: 1px solid #ffcb19;
}


@media(max-width:745px) {
    .team2{
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    .team1{
        flex-direction: column;
        margin-top: 50px;
    }
    .team1 .left .fk-bg{
        top: 15px;
        left: 45px;
        width: 16%;
        z-index: 1;
    }
    .team1 .part h1 span,.team2 .part h1 span{
        font-size: 25px;
    }
    .expert-team{
        background-image: url('../img/team/crew\ page\ ph.png');
        background-size: cover;
        height: 300px;
        background-position: center;
    }
    .team3 .part3_text{
        width: 90%;
    }
    .team2 .right .shin{
        width: 75%;
    }
    .part3_text .our-expert li{
        width: 45%;
    }
    .team3 .part3_text .f-born{
        font-size: 20px;
    }
    .expert-team{
        background-attachment: unset;
    }
    .ourteam-banner{
        width: 100%;
        height: 320px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .team-title .f-born{
        font-size: 20px;
    }
    .frankee{
        width: 60%;
    }
}
@media(max-width:426px) {
    .part3_text .our-expert li{
        width: 90%;
    }
}

/*----------------SO Plus----------------*/
.SOPlus.banner{
    width: 100%;
    height: 573.7px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    background-image: url('../img/pd/so_plus/天然背景.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.SOPlus.banner .banner-text{
    color: #242424;
    width: 50%;
    padding: 30px 45px;
    position: absolute;
    left: 90px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffffd1;
}
.pdBox{
    position: absolute;
    right: 20px;
    bottom: -40px;
}

.SOPlus.banner .pdBox{
    max-width: 50%;
}

.sp-part1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px auto 0;
    position: relative;
}
.sp-part1 img{
    width: 75%;
}
.part1-textbox{
    width: 60%;
    padding: 80px;
}
.part1-imgbox{
    width: 40%;
}

.part1-textbox h2{
    font-size: 32px;
    line-height: 1.3em;
    font-weight: bolder;
    margin-bottom: 18px;
}
.pd-title{
    text-align: center;
    margin: 100px auto 15px;
}
.ingredien1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ingredien1 .ingredien1-textbox{
    width: 60%;
    padding-left: 10%;
}
.textbox h2,.benefit-card h2{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
}

.ingredien1 .ingredien1-imgbox{
    width: 35%;
}

.ingredien2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.ingredien2 li{
    width: 27%;
    margin: 3%;
    text-align: center;
}

.ingre-bg{
    position: absolute;
    top: -370px;
    left: 0;
    z-index: -1;
}
.ingre-bg-ph{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.sp-benefit .benefit-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sp-benefit .benefit-card li{
    width: 20%;
    margin: 2%;
    border: 1px solid rgb(255, 201, 23);
    padding: 25px;
    border-radius: 15px;
    text-align: center;
}

@media(max-width:821px) {
    .ingre-bg{
        top: -220px;
    }
    .ingredien2 li{
        width: 40%;
    }
}


@media(max-width:745px) {
    .SOPlus.banner{
        flex-direction: column;
        margin-bottom: 50px;
        height: 380px;
    }
    .SOPlus.banner .banner-text{
        color: #fff;
        width: 90%;
        padding: 30px 45px;
        position: relative;
        left: 0;
        top: 0;
        transform: translateY(0);
        display: none;
    }   
    .SOPlus.banner .pdBox{
        max-width: 65%;
    }
    .pdBox{
        bottom: -25px;
    }
    .sp-part1{
        flex-direction: column-reverse;
    }
    .part1-textbox{
        position: absolute;
        padding: 25px 30px 10px;
        width: 82%;
        background-color: #ffcb19bf;
        color: #fff;
        border-radius: 15px;
    }
    .part1-textbox h2{
        font-size: 24px;
    }
    .part1-textbox p{
        display: none;
    }
    .sp-part1 img{
        width: 100%;
        display: none;
    }
    .part1-imgbox{
        width: 90%;
        background-image: url('../img/pd/so_plus/seedoil.png');
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
        height: 320px;
    }
    .sp-part1{
        margin: 10px auto 0;
    }
    .ingredien1{
        flex-direction: column-reverse;
    }
    .ingredien1 .ingredien1-textbox{
        padding-left: 0;
        width: 70%;
    }
    .ingredien1 .ingredien1-imgbox{
        width: 50%;
    }
    .ingre-bg{
        display: none;
        top: -350px;
    }
    .ingre-bg-ph{
        display: block;
        width: 100%;
        top: -310px;
    }
    .textbox h2{
        font-size: 24px;
        text-align: center;
    }
    .ingredien2 li{
        width: 62%;
    }
    .sp-benefit .benefit-card li{
        display: flex;
        width: 90%;
        align-items: center;
        padding: 15px;
    }
    .benefit-card img{
        width: 35%;
    }
    .sp-benefit .benefit-card li,.benefit-card h2{
        text-align: left;
    }
    .benefit-card-text h2{
        font-size: 22px;
    }
    .benefit-card-text{
        padding-left: 15px;
    }
}
@media(max-width:426px) {
    .SOPlus.banner .pdBox{
        max-width: 87%;
    }
}  

/*---------------tech-----------------------*/
.tech.banner{
    height: 520px;
    background-image: url(../img/tech/banner\ bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 250px;
}
.tech-text{
    position: absolute;
    top: 100px;
    left: 50%;
    width: 80%;
    height: 600px;
    margin: auto;
    background-color: #fff;
    background-image: url(../img/tech/mix-herbs-green-branches-leaves-mint-eucalyptus-rosemary-aloe-vera-plants-collection-white.jpg);
    background-size: cover;
    transform: translateX(-50%);
}

.tech-text h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
    width: 56%;
    margin-top: 86px;
}
.why-seed{
    text-align: center;
    width: 60%;
    margin: auto;
    border-bottom: 1px solid #3E3A39;
    padding-bottom: 50px;
}

.why-seed h1{
    line-height: 1.5;
}

.extraction{
    position: relative;
    padding: 100px 20% 100px 30%;
}
.extraction h1{
    font-size: 32px;
}
.extraction img{
    position: absolute;
    left: 0;
    top: -450px;
    width: 24%;
}

.journey{
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

.journey-p{
    margin: 25px auto 100px;
    text-align: center;
}
.journey h1{
    font-size: 32px;
    margin-bottom: 30px;
}
.journey-part{
    display: flex;
    justify-content: center;
}
.journey-part li{
    width: 25%;
    margin-left: 15px;
}
.journey-part li h2{
    font-size: 22px;
    font-weight: 800;
    margin: 12px auto 6px;
    color: #3E3A39;
}
.journey-part li p{
    padding: 0px 12px 15px;
}

.tech-content{
    max-width: 1200px;
    margin: auto;
}
.tech-content ul li{
    display: flex;
    margin: 50px auto;
    padding-left: 50px;
    align-items: center;
    justify-content: center;
}

.tech-content ul li h1{
    font-size: 32px;
    margin-bottom: 10px;
}
.tech-content ul li .tech-content-img{
    width: 30%;
    text-align: end;
}
.tech-content ul li .tech-content-text{
    width: 70%;
    padding: 25px 50px;
}
.TM-s{
    font-size: 20px;
}

@media(max-width:745px) {
    .tech-text{
        top: 0;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        height: 392px;
        width: 92%;
    }
    .tech-text h1{
        width: 70%;
        font-size: 22px;
    }
    .tech.banner{
        height: 386px;
    }
    .tech.banner{
        margin-bottom: 0;
    }
    .why-seed{
        width: 80%;
    }
    .extraction img{
        top: -376px;
        width: 21%;
    }
    .extraction{
        padding: 10%;
    }
    .extraction h1{
        font-size: 24px;
    }
    .journey{
        background-color: cornsilk;
    }
    .journey h1{
        padding-top: 25px;
    }
    .journey-part{
        flex-wrap: wrap;
    }
    .journey-part li{
        width: 90%;
        margin-left: 0;
        margin-bottom: 12px;
        background-color: #fff;
    }
    .tech-content ul li{
        flex-direction: column;
        padding-left: 0;
    }
    .tech-content ul li .tech-content-img,.tech-content ul li .tech-content-text{
        width: 90%;
    }
    .tech-content ul li .tech-content-text{
        padding: 25px 10px;
    }
    .journey-p{
        margin: 0;
        padding: 25px;
        font-weight: 900;
    }
    .tech-content ul li h1 br{
        display: none;
    }
    .tech-content ul li .tech-content-img{
        text-align: center;
    }
}
