/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    max-width: 100%;
    height: auto;
}

/*------------------------以上為CSS reset-------------------------*/
@font-face {
    font-family: 'bornready';
    src: url('https://static1.squarespace.com/static/63071dfeb81deb5ffdb0a2b2/t/630c35b673c9a669db32b26b/1661744570391/Born-ready-slanted.ttf')
}

@font-face {
    font-family: 'lexend';
    src: url('https://static1.squarespace.com/static/63071dfeb81deb5ffdb0a2b2/t/630c35c780fdd80dc7d5c9e6/1661744583372/Lexend-Regular.ttf')
}

.f-born{
    font-family: 'bornready';
    font-weight: 100;
    color: rgb(216, 216, 216);
}
/*------------------------以上為字體-------------------------*/


h1{
    font-size: 46px;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 1px;
}

p{
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1px;
}
@media(max-width:745px) {
    h1{
        line-height: 1;
        font-size: 38px;
    }

    h1 span{
        margin-bottom: 5px;
        display: block;
        font-size: 30px;
        margin-top: 12px;
    }
    p{
        font-size: 16px;
        line-height: 1.5;
    }
}



.container{
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: hidden;
}

/*--------------------以下為aside------------------------*/
.aside{
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    background-color: #E5C45D;
    transform: translateX(-100%);
    transition-duration: .3s;
    display: none;
}

.aside.aside-active{
    transform: translateX(0%);
}

.aside-btn{
    display: none;
    background-image: url(img/burger.png);
}

.aside ul{
    margin-top: 95px;
}

.aside a{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 25px;
    font-size: 20px;
    color: #fff;
    font-weight: bolder;
}

.aside a:hover{
    background-color: white;
    color: #E5C45D;
}

@media(max-width:745px) {
    .aside{
        display: block;
    }
}

/*------------------------以下為header css-------------------------*/
.header{
    display: flex;
}

.logo{
    width: 15%;
    margin-left: 5%;
}

.menu{
    width: 75%;
}

.menu{
    display: flex;
    justify-content: end;
}

.menu ul{
    display: flex;
    align-items: center;
}

.menu li{
    text-align: center;
    line-height: 44px;
    height: 44px;
}

.menu li a{
    display: block;
    text-decoration: none;
    color: #3E3A39;
    font-weight: 500;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.menu li a:hover{
    color: #E5C45D;
    font-weight: bold;
}

@media(max-width:745px) {
    .header .menu{
        display: none;
    }

    .logo{
        width: 33%;
    }

    .aside-btn{
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        text-align: center;
        margin-right: 5%;
        z-index: 2;
        background-color: #fff;
    }
    .header{
        justify-content: space-between;
        align-items: center;
    }
}

/*------------------------以上為常用CSS-------------------------*/
.banner img{
    width: 70%;
}

@media(max-width:745px) {
    .banner img{
        width: 100%;
    }
}



/*---------banner-----------*/

.part{
    padding: 20px 20px;
}

.part1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

.part1 .left{
    width: 60%;
    padding-left: 65px;
}

.part1 .right{
    width: 40%;
    text-align: center;
}

.part1 .right img{
    width: 80%;
}


.part h1{
    margin-bottom: 15px;
}

.part h1 span{
    font-size: 32px;
}

.part .btn{
    display: block;
    text-align: center;
    align-items: center;
    width: 100px;
    height: 30px;
    color: #fff;
    background-color: #E5C45D;
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
    text-decoration: none;
    font-weight: 600;
}

@media(max-width:745px) {
    .part1{
        flex-direction: column;
        position: relative;
    }
    .part1 .left{
        width: 85%;
        padding: 20px;
        margin-bottom: 30px;
    }

    .part1 .right{
        width: 95%;
        position: absolute;
        top: 205px;
        z-index: -1;
    }

    .part1 .right img{
        width: 60%;
    }
}

/*--------------以上為part1-------------------*/
.part2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.part2 .left{
    width: 50%;
    text-align: center;
}

.part2 .right{
    width: 50%;
}

.part2 .right h2{
    font-size: 32px;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
}

@media(max-width:745px) {
    .part2{
        flex-direction: column-reverse;
        margin-bottom: -20px;
        margin-top: 260px;
        background-color: white;
    }
    .part2 .right{
        width: 85%;
    }
    .part2 .left{
        width: 85%;
    }
}

/*---------------------------------*/
.part3{
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 20px;
}

/*
.part3_left{
    display: inline-block;
    width: 50%;
}

.part3_right{
    display: inline-block;
    width: 45%;
}
*/

.part3 h2{
    font-size: 32px;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
}

.part3_text{
    margin-bottom: 25px;
}

.part3 ul{
    display: flex;
    justify-content: space-between;
}

.part3 ul li{
    width: 32%;
}

@media(max-width:745px) {
    .part3{
        margin-bottom: 0px;
    }

    .part3 ul{
        flex-wrap: wrap;
    }

    .part3 ul li{
        width: 100%;
    }
}

/*---------------footer area------------------*/

footer{
    background-color: rgb(255, 248, 236);
    height: 400px;
}

.footer-area{
    max-width: 1200px;
    margin: 0 auto;
}

.footer-top{
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo{
    width: 35%;
    text-align: center;
}

.footer-area ul{
    display: flex;
    justify-content: space-between;
    width: 65%;
}

.footer-area li{
    width: 25%;
}

.footer-area h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-links a{
    padding: 5px 0px;
    display: block;
    text-decoration: none;
    color: #3E3A39;
}

.footer-social{
    text-align: center;
}

.footer-social img{
    width: 50px;
}

.footer-social a{
    display: inline-block;
    width: 60px;
}

.footer-top a:hover{
    color: #E5C45D;
    font-weight: bold;
}

.footer-social p{
    margin-top: 5px;
}

footer .line{
    background-color: #fff;
    height: 1px;
    width: 70%;
    margin: 20px auto;
}


@media(max-width:745px) {
    footer{
        height: 100%;
    }

    .footer-area{
        flex-direction: column;
    }

    .footer-logo{
        width: 75%;
    }

    .footer-down{
        flex-direction: column;
    }

    .footer-area ul{
        width: 95%;
    }

    .footer-area ul li{
        width: 100%;
    }

    .footer-down>li{
        border-bottom: 1px solid #000;
        padding-bottom: 10px;
    }

    .footer-area h2{
        margin-top: 10px;
    }

    
    .footer-social a{
        width: 45px;
    }

    .footer-social img{
        width: 40px;
    }

    .footer-links{
        display: none;
    }

    .footer-links.open{
        display: block;
        transition: 1s;
    }

    .footer-down h2{
        color: #3E3A39;
    }

    .footer-down h2.hv{
        color: #E5C45D;
    }
}




/*---------------go top------------------*/
#gotop{
    position: fixed;
    bottom: 50px;
    right: 10px;
}

#gotop a{
    display: block;
    height: 50px;
    width: 50px;
    background-color: #E5C45D;
    border-radius: 50%;
    background-image: url(img/icon/未命名-2.png);
    background-size: cover;
}

/*swiper*/
.swiper {
    display: none;
    width: 334px;
    height: 223px;
  }

@media(max-width:745px) {
    .swiper{
        display: block;
        width: 100%;
        height: auto;
    }    

    .part3 ul{
        display: none;
    }

    .index-sw{
        margin-bottom: 25px;
    }
}